<!doctype html>
<html>
<head>
    <title>Emailer Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-envelope"></span> Emailer</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
                  <form role="form">
                    <div class="form-group">
                      <label>Recipient</label>
                      <input type="usr" name="to" class="form-control" id="to">
                    </div>
                    <div class="form-group">
                      <label>Subject:</label>
                      <input type="text" name="sub" class="form-control" id="sub">
                    </div>
                    <div class="form-group">
                      <label>Body:</label>
                      <input type="text" name="body" class="form-control" id="body">
                    </div>
                    <div class="form-group">
                        <label>File:</label>
                        <input type="file" name="file" id="file"> </br>
                    <button type="submit" class="btn btn-warning btn-lg">Send</button>
                  </form>
        </div>
    </div>

</div>
</body>
</html>